#demo5
    .minibox
        width: 120px
        height: 120px
    .black
        background-color: #040404
    .ylw
        background-color: #fff708
    .orange
        background-color: #ec6f0f
    .blue
        background-color: #2b81bf
    .pink
        background-color: #c34cb3

    @media screen and ( min-width: 800px )
        .black
            display: none
    @media screen and ( min-width: 1000px )
        .orange
            display: none
