#demo
    .minibox
        width: 100px
        height: 100px
        border: 1px solid #224924
        font-size: 45px
    @media screen and ( max-width: 900px )
        .minibox
            width: 150px
            height: 150px
            border: 5px solid #904aa7
            font-size: 60px
            border-radius: 15px  
