#demo7
    .box
        width: 650px
        height: 300px
        background-color: #b2b5be
        transition: 2s
        &:hover
            border-radius: 15px
        .minibox
            width: 550px
            height: 220px
            padding: 0 25px
            border-radius: 5px
            background-color: #b2b5be
            transition: 2s
            &:hover
                background-color: #c97b98
            .btn
                padding: 15px 40px
                margin: 20px
                color: #ffff
                background-color: #0d0d0d
                font-size: 23px
                transition: 2s
                &:hover
                    background-color: #65204b
                    font-size: 36px
            .abc
                border-radius: 35px
    
    @media screen and ( max-width: 1000px )
        .box
            width: 550px
            height: 250px
            background-color: #bfa4e0
            .minibox
                background-color: #bfa4e0
                .btn
                    background-color: #af5b8f
                    padding: 5px 40px 
                .sml
                    border-radius: 35px
                .abc
                    border-radius: 0
                .big
                    border-radius: 35px
