#demo3
    .minibox
        width: 100px
        height: 100px
        border: 1px solid #224924
        background-color: #25a3dd
        transition: 3s
        &:hover
            width: 250px
            font-size: 45px
            background-color: #2b5cce
