#demo2
    .btn
        font-size: 18px
        padding: 15px 20px
        margin: 0 10px
        color: #ffff
        background-color: #6e3d1b
        opacity: 0.3
        &:hover
            opacity: 0.9
    .box
        position: relative        
    input
        border: 3px solid #474747
        border-radius: 15px 
        width: 200px
        margin: 50px
        position: absolute 
        top: 40px
        left: 50px