#demo5
    .minibox
        width: 120px
        height: 120px
        margin: 10px 0
        border: 5px solid #5b1d2a
        border-radius: 25px
        font-size: 45px
        transition: 3s
        &:hover
            width: 250px
            font-size: 15px
    .textbox
        border: 2px solid #434242
        padding: 10px
        width: 200px
        height: 200px 
        h4
            color: #22b030
            font-size: 40px
            font-weight: 600 
            transition: 2s 
            &:hover
                font-size: 65px
                color: #962626
                font-weight: 700 
