body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}
body section {
  padding: 80px 0;
}

#demo .minibox {
  width: 100px;
  height: 100px;
  padding: 15px;
  margin: 5px 0;
  border: 3px solid #0a8010;
  font-size: 50px;
  font-weight: 600;
  transition: 2s;
}
#demo .minibox:hover {
  font-size: 30px;
  color: #0a8010;
  font-weight: 700;
  border: none;
}
@media screen and (max-width: 900px) {
  #demo .minibox {
    width: 150px;
    height: 150px;
    border: 8px solid #7c1616;
    background-color: #c78b8b;
    color: #7c1616;
    font-size: 75px;
    border-radius: 15px;
    margin: 15px 0;
    display: flex;
  }
}

#demo2 h3 {
  font-size: 30px;
  font-weight: 700;
}
#demo2 .btn {
  padding: 15px 20px;
  margin: 0 10px;
  color: #ffffff;
  background-color: #392361;
  opacity: 0.3;
}
#demo2 .btn:hover {
  opacity: 0.9;
}
@media screen and (max-width: 1000px) {
  #demo2 .btn {
    background-color: white;
    color: #392361;
    border: 5px solid #392361;
    opacity: 0.9;
  }
}

#demo3 .minibox {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #224924;
  background-color: #60c486;
  transition: 3s;
}
#demo3 .minibox:hover {
  width: 200px;
  font-size: 45px;
  background-color: #164d1f;
  border-radius: 20px;
  color: white;
}

#demo4 {
  padding: 90px 0;
}
#demo4 .box {
  width: 200px;
  height: 200px;
  padding: 25px;
  border-radius: 5px;
  background-color: #8397c8;
  transition: 3s;
}
#demo4 .box:hover {
  width: 250px;
  height: 250px;
}
#demo4 .minibox {
  width: 150px;
  height: 150px;
  padding: 25px;
  border-radius: 25px;
  background-color: #91cdc6;
  transition: 3s;
}
#demo4 .minibox:hover {
  width: 110px;
  height: 110px;
  border-radius: 50px;
}
#demo4 .textbox {
  width: 100px;
  height: 100px;
  padding: 25px;
  border-radius: 50px;
  background-color: #185b55;
  transition: 3s;
}
#demo4 .textbox:hover {
  border-radius: 15px;
}
@media screen and (max-width: 1100px) {
  #demo4 .box {
    background-color: #f9f9f9;
    border: 2px solid #204947;
  }
}
@media screen and (max-width: 950px) {
  #demo4 .minibox {
    background-color: #72a9cb;
  }
  #demo4 .textbox {
    background-color: #214358;
  }
}
@media screen and (max-width: 750px) {
  #demo4 .textbox {
    display: none;
  }
}

#demo5 .minibox {
  width: 120px;
  height: 100px;
  margin-right: 15px;
  border-radius: 25px;
  color: white;
  padding: 25px;
}
#demo5 .minibox h2 {
  font-size: 30px;
  font-weight: 700;
  transition: 3s;
}
#demo5 .minibox h2:hover {
  display: none;
}
#demo5 .rd {
  background-color: #9b4444;
}
#demo5 .grn {
  background-color: #449b50;
}
#demo5 .abc {
  background-color: #447f9b;
}
#demo5 .ylw {
  background-color: #dde00b;
}
@media screen and (max-width: 1100px) {
  #demo5 .grn, #demo5 .ylw {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  #demo5 .minibox {
    background-color: #447f9b;
  }
}

#demo6 .textbox {
  border-radius: 15px;
  padding: 10px;
  margin: 50px 0;
  width: 200px;
  height: 280px;
  background-color: #4b737a;
}
#demo6 .textbox h4 {
  color: white;
  font-size: 40px;
  font-weight: 600;
  margin: 15px 0;
  transition: 2s;
}
#demo6 .textbox h4:hover {
  font-size: 65px;
  color: #ffffff;
  font-weight: 700;
}
@media screen and (max-width: 1000px) {
  #demo6 .textbox {
    display: flex;
    width: 500px;
    height: 100px;
  }
  #demo6 .textbox h4 {
    margin-left: 20px;
  }
}

#demo7 .box {
  width: 250px;
  height: 250px;
  padding: 35px;
  position: relative;
  background-color: #8397c8;
}
#demo7 .minibox {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 105px;
  z-index: 2;
  border-radius: 5px;
  background-color: #2c8560;
}
#demo7 .textbox {
  width: 250px;
  height: 170px;
  position: absolute;
  top: -95px;
  left: 70px;
  padding: 25px;
  border-radius: 25px;
  background-color: #e79d6b;
}/*# sourceMappingURL=style.css.map */